

//============HEADER============
.ctg-header-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #333333;
    opacity: 0.9;
    margin: 0;
    padding-bottom: 30px;
}