//============HEADER============
.ctg-header-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #333333;
  opacity: 0.9;
  margin: 0;
  padding-bottom: 30px;
}

//==========DROP MENU========================
.header {
  // .header__drop-menu
  &__drop-menu {
    display: flex;
    margin-top: 20px;
  }
}
.menu-drop {
  // .menu-drop__comp
  &__comp {
    display: flex;
    align-items: center;
    min-height: 37px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    background: #fff;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    padding: 0 13px;
    cursor: pointer;
    height: 37px;
    margin-right: 13px;
  }
  // .menu-drop__item
  &__item {
    width: 100%;
    position: relative;
  }
  // .menu-drop__icon
  &__icon {
    position: relative;
    margin-left: 8px;
  }
  &__icon img {
    width: 24px;
    height: 20px;
  }
  // .menu-drop__list
  &__list {
    
  }
}




//============================================================

.card-item-100 a .img_item-100 img {
  height: 231px;
}
.link_item-100-wrapper {
  display: flex;
  gap: 10px;
}
.img_item-100 {
  flex: 0 1 50%;
}
.cover_item-100 {
  flex: 0 1 50%;
}
.counters__like {
  justify-content: flex-end;
  padding-top: 10px;
}
.likes-count {
  background-color: #fff;
  font-size: 16px;
}
.likes-count:hover {
  color: rgb(165, 162, 162);
}
.card-item-50 {
  min-height: 320px;
}
.card-item-100 {
  min-height: 285px;
}
