@import url(settings-styles.css);
html,
body {
  font-size: 15px;
  line-height: 120%;
  -webkit-box-orient: vertical;
  min-height: 100%;
  min-width: 600px;
  position: relative;
}

.sidebar-logo-text {
  font-size: 28px;
  font-weight: bold;
  color: #3a890d;
  height: 20px;
}

.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

@media (min-width: 1700px) {
  .sidebar {
    width: 288px !important;
  }
}
.sidebar:hover {
  width: 288px;
}

.sidebar {
  width: 84px;
  padding: 0 13px;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(225, 224, 170);
  transition: width 0.5s ease, all 0.1s ease;
  overflow: hidden;
}
.sidebar_item {
  position: relative;
  width: 100%;
  padding: 9px 0;
  display: flex;
  justify-content: flex-start;
  transition: all 0.03s ease 0.03s;
}
.sidebar_item-body {
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar_item-img {
  width: 58px;
  display: flex;
  justify-content: center;
}
.sidebar_item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.sidebar__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: start;
  border-bottom: 1px solid #8ea263;
  padding: 14px 0;
}

.sidebar_item:hover {
  background-color: rgba(167, 145, 37, 0.2039215686);
  border-radius: 4px;
}

.sidebar_item-img img {
  overflow: hidden;
  vertical-align: middle;
  width: 58px;
  height: 26px;
}

.sidebar-logo-main {
  width: 58px;
  height: 26px;
}

@media (max-width: 800px) {
  .sidebar_item-img {
    width: 30px;
  }
  .sidebar {
    width: 54px;
  }
}
@media (min-width: 1700px) {
  .wrapper {
    margin-left: 84px;
  }
}
.header .header_picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border: 14px solid #656161;
  border-radius: 15px;
  height: 210px;
}
.header__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  color: #333333;
}
.header__title h1 {
  font-size: 40px;
  line-height: 49px;
  opacity: 0.9;
  font-weight: 700;
}
.header__title p {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.6;
  padding-bottom: 10px;
}

.header__drop-menu {
  display: flex;
  margin-top: 20px;
}

.menu-drop {
  position: relative;
}
.menu-drop__comp {
  display: flex;
  align-items: center;
  min-height: 37px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background: #fff;
  align-items: center;
  font-size: 14px;
  padding: 0 13px;
  cursor: pointer;
  height: 37px;
  margin-right: 13px;
  position: relative;
}
.menu-drop__item {
  width: 100%;
  position: relative;
}
.menu-drop__icon {
  position: relative;
  margin-left: 8px;
}
.menu-drop__icon img {
  width: 24px;
  height: 20px;
}

.menu-drop__list-drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  flex-wrap: wrap;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  white-space: nowrap;
  margin-top: 5px;
  background: #fff;
}
.menu-drop__comp:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}

.menu-drop__comp:focus .menu-drop__list-drop-menu {
  display: flex;
}

.list-drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  border-radius: 4px;
  z-index: 10;
  margin-top: 5px;
  background: #fff;
  white-space: nowrap;
  display: flex;
}
.list-drop-menu_item {
  position: relative;
  height: 40px;
  display: flex;
  width: 100%;
  padding: 0 16px;
  border-bottom: #f2f2f2 solid 1px;
  -webkit-box-align: center;
  justify-content: start;
  -webkit-box-pack: start;
  transition: 0.2s all;
  align-items: center;
  transition: 0.2s all;
}
.list-drop-menu_box {
  display: flex;
  min-height: 40px;
  align-items: center;
  padding-right: 1.5rem;
  width: 100%;
}

.index-block-list {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}
.index-block-list__title {
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: #333333;
  font-weight: bold;
  padding-top: 22px;
}

.catalog {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  margin: 16px -8px 0px;
}

.catalog-item {
  flex: 0 1 33.333%;
}

.item-cell {
  padding: 6px;
}

.card-student-work {
  justify-content: flex-start;
  height: 255px;
  background: white;
  border: 10px solid white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 150ms ease-out 0s;
}
.card-student-work__image {
  -o-object-fit: contain;
     object-fit: contain;
  height: 180px;
  text-align: center;
  display: block;
}
.card-student-work__image img {
  height: 175px;
  width: 100%;
}
.card-student-work__social-data {
  display: flex;
  padding-right: 8px;
  font-size: 17px;
  line-height: 1.15;
  justify-content: space-between;
  align-items: center;
}

.card-student-work:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.card-student-work hr {
  color: #f2f2f2;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
}

.data-social__user {
  display: flex;
  min-width: 44%;
  align-items: center;
}
.data-social__avatar {
  width: 22%;
  height: 22%;
  margin-right: 9px;
}
.data-social__name {
  display: flex;
  flex-direction: column;
}
.counters__like {
  display: flex;
}

.like-homework_link {
  display: flex;
  color: #252b42;
  transition: all 0.05s ease 0.05s;
}

.like-homework_link:hover {
  color: rgb(165, 162, 162);
}

.like-homework {
  margin-right: 6px;
}

.catalog__button {
  margin: 24px auto 0px;
  border-color: transparent;
  font-weight: 500;
  text-align: center;
}

.catalog__button button {
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #353303;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.catalog__button button:hover {
  color: #fff;
  background-color: rgba(189, 167, 27, 0.537254902);
}

@media (max-width: 1200px) {
  [class*=__container] {
    margin: 0px 110px;
  }
  .catalog-item {
    flex: 1 1 45%;
  }
  .item-cell {
    flex: 0 1 50%;
    min-width: 200px;
  }
}
@media (max-width: 1000px) {
  .work-student {
    max-width: 400px;
  }
  .card-student-work__image img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  [class*=__container] {
    margin: 0px 50px;
  }
  .wrapper {
    margin-left: 10px;
  }
}
.background {
  background-color: rgba(79, 252, 166, 0.1490196078);
}

.cell-courses {
  display: flex;
  flex-wrap: wrap;
  margin: 16px -8px 0px;
}

.cell-block {
  padding: 8px;
  width: 100%;
}

.block-cell-medium {
  width: 50%;
}

.link-cell-main {
  position: relative;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 150ms ease-out 0s;
  color: #434343;
  padding: 10px;
  display: block;
}
.link-cell-main__bgi {
  margin-bottom: 14px;
}
.link-cell-main__bgi img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  background-position: center;
}
.link-cell-main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-cell-main:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.body-cell-main_title {
  padding-bottom: 7px;
  color: #434343;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.body-cell-main_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.body-cell-main_info_item {
  display: flex;
  align-items: center;
}

.body-cell-main_info_item img {
  width: 20px;
}

.cell-main-bgi_big {
  width: 100%;
}

.body-cell-main_info_item span {
  line-height: 150%;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}

@media (max-width: 1000px) {
  .block-cell-medium {
    width: 100%;
  }
}
.cheat-sheet-catalog {
  margin: 16px -14px -14px;
}
.cheat-sheet-catalog__item {
  padding: 14px;
}

.sheet-card {
  border: none;
  border-radius: 15px;
  height: 293px;
  width: 100%;
  transition: box-shadow 150ms ease-out 0s;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.sheet-card:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.sheet-card img {
  width: 100%;
  height: 293px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1000px) {
  .sheet-card {
    width: 100%;
  }
  .sheet-card img {
    width: 100%;
  }
}
.item-card {
  flex: 0 1 50%;
  height: 290px;
}
.item-card_img {
  text-align: center;
}
.item-card .item-card_img img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-card .item-card-cover {
  margin: 15px 0px 0px 5px;
  max-width: 455px;
}
.item-card_title {
  color: #434343;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.item-card .item-card_title:not(:last-child) {
  margin-bottom: 7px;
}
.item-card__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-item-50 {
  flex: 0 1 50%;
}

.card-item-100 {
  flex: 0 1 100%;
}

.title-card-hidden {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.link-cell-main {
  width: 100%;
}

.card-web_block {
  max-width: 295px;
}

.card-web {
  margin-bottom: 14px;
  background-size: cover;
  position: relative;
  background-position: center;
  width: 100%;
}

.card-web img {
  height: 200px;
  width: 100%;
}

.web-flex-cell {
  flex: 1 1 33.333%;
  min-width: 260px;
}

.index-promo-background {
  position: relative;
  background-color: rgba(121, 248, 71, 0.1607843137);
}

.promo-index__body {
  padding: 70px 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.promo-index-img {
  flex: 1 1 30%;
}

.promo-index-img img {
  width: 100%;
  height: 203px;
  border-radius: 15px;
}

.promo-index-menu {
  margin-left: 55px;
}

.menu-promo {
  flex: 1 1 40%;
}
.menu-promo_buttons {
  margin: 24px -8px 0;
}
.menu-promo_button {
  width: 234px;
  text-align: center;
  margin: 8px;
  background-color: rgba(163, 104, 51, 0.631372549);
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-size: 15px;
  color: #fff;
  padding: 6px 12px;
}
.menu-promo__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #434343;
}

.menu-promo_button:hover {
  background-color: rgba(127, 80, 39, 0.631372549);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 768px) {
  .promo-index-menu {
    margin-left: 25px;
  }
  .promo-index-img {
    width: 300px;
  }
}
.main-footer {
  display: flex;
  flex: 0 0 auto;
  background-color: rgba(48, 122, 28, 0.3294117647);
}

.footer_link {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  line-height: 120%;
  font-size: 15px;
  color: #252b42;
  transition: 0.3 ease;
}
.footer_link:hover {
  color: rgb(232, 231, 231);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer_link span {
  margin-left: 11px;
}

.footer_link img {
  width: 25px;
  height: 25px;
  line-height: 120%;
  color: #fff;
}

.footer-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 985px;
  padding: 19px;
}
.footer-body__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

.notifications {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 50;
}
.notifications__icon-box {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: moccasin;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease 0.15s;
}
.notifications__icon-box::before {
  font-size: 25px;
  color: #000;
  transition: all 0.15s ease 0.15s;
}
.notifications__icon-unreads {
  position: absolute;
  top: -9px;
  right: -5px;
  color: #3a890d;
  display: none;
}

.notifications__icon-box:hover {
  background-color: rgb(230, 208, 170);
}
.notifications__icon-box:hover.icon-bell::before {
  color: #fff;
}

@media (max-width: 800px) {
  .notifications__icon-box {
    width: 30px;
    height: 30px;
  }
  .notifications__icon-box::before {
    font-size: 18px;
  }
  .notifications {
    top: 20px;
    right: 20px;
  }
}/*# sourceMappingURL=main_styles.css.map */