//import null-styles
@import url(../css/null-styles.css);
//import icon-fonts
@import url(../fonts/style.css);
//import font   500 700 400
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);

// ====================
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;

}
.main{
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 985px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

